/* /Pages/Index.razor.rz.scp.css */
main[b-syx3o80wzq] {
    --theme-h: 200;
    --theme-s: 10%;
    --theme-l: 10%;

    display: grid;
    grid-template-rows: 2em 1fr 2em;
    height: 100vh;
    overflow: hidden;
}

.editor[b-syx3o80wzq] {
    --editor-background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
    background-color: var(--editor-background-color);
    /* color: white; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: 100vh;

    --toolbar-padding-top: .2rem;
    --toolbar-height: calc(1rem + var(--toolbar-padding-top))
}

.editor-column[b-syx3o80wzq] {
    max-height: 100vh;
}

.editor-column.left[b-syx3o80wzq] {
    display: grid;
    grid-template-rows: var(--toolbar-height) 1fr;
}

.editor-column.right[b-syx3o80wzq] {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.script-tools[b-syx3o80wzq] {
    padding-top: var(--toolbar-padding-top);
}

.script-container[b-syx3o80wzq] {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

    --font-size: 1rem;

    --line-number-width: 2rem;
}

.script[b-syx3o80wzq] {
    background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size);
    white-space: break-spaces;

    width: 100%;
    
    /* min-height: 100%; */
    overflow: hidden;
    resize: none;

    padding-left: var(--line-number-width);
}

.script-view[b-syx3o80wzq] {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
    font-size: var(--font-size);
    white-space: break-spaces;

    font-family: 'Courier New', Courier, monospace;
    color: white;

    padding-left: var(--line-number-width);
}

.test[b-syx3o80wzq] {
    position: relative;
    background-color: rgb(75, 146, 194);
}

.dialogue-container[b-syx3o80wzq] {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    --dialogue-background-color: hsl(var(--theme-h), var(--theme-s), 5%);
}

.dialogue-header[b-syx3o80wzq] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.speaker-label[b-syx3o80wzq] {
    background-color: var(--dialogue-background-color);
    color: white;
    /* height: 1rem; */
    padding: .2rem;
}

.dialogue-box[b-syx3o80wzq] {
    background-color: var(--dialogue-background-color);
    color: white;
    padding: .2rem;
    height: 4rem;
    width: 100%;
}

.dialogue-footer[b-syx3o80wzq] {
    background-color: var(--dialogue-background-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* height: 1rem; */
    width: 100%;
}

.options-container[b-syx3o80wzq] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-tools[b-syx3o80wzq] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--toolbar-padding-top);
    background-color: var(--editor-background-color);
}

.log[b-syx3o80wzq] {
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
    white-space: break-spaces;
    color: white;
}

/* /Shared/MainLayout.razor.rz.scp.css */
