main {
    --theme-h: 200;
    --theme-s: 10%;
    --theme-l: 10%;

    display: grid;
    grid-template-rows: 2em 1fr 2em;
    height: 100vh;
    overflow: hidden;
}

.editor {
    background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
    /* color: white; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: 100vh;
}

.editor-column {
    max-height: 100vh;
}

.editor-column.left {
    display: grid;
    grid-template-rows: 1rem 1fr;
}

.editor-column.right {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.script-container {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

    --font-size: 1rem;

    --line-number-width: 2rem;
}

.script {
    background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size);
    white-space: break-spaces;

    width: 100%;
    
    /* min-height: 100%; */
    overflow: hidden;
    resize: none;

    padding-left: var(--line-number-width);
}

.script-view {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
    font-size: var(--font-size);
    white-space: break-spaces;

    font-family: 'Courier New', Courier, monospace;
    color: white;

    padding-left: var(--line-number-width);
}

.test {
    position: relative;
    background-color: brown;
}

.dialogue-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.dialogue-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.speaker-label {
    background-color: hsl(var(--theme-h), var(--theme-s), 5%);
    color: white;
    /* height: 1rem; */
    padding: .2rem;
}

.dialogue-box {
    background-color: hsl(var(--theme-h), var(--theme-s), 5%);
    color: white;
    padding: .2rem;
    height: 4rem;
    width: 100%;
}

.dialogue-footer {
    background-color: hsl(var(--theme-h), var(--theme-s), 5%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* height: 1rem; */
    width: 100%;
}

.options-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option-button {
    
}

.log {
    background-color: goldenrod;
    overflow-y: scroll;
}

